.App {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  height: 600px;
  width: 400px;
  background-color: white;
  border-radius: 5px;
}

.Spinner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ScheduleData {
  margin-top: 50px;
  height: 500px;
  overflow-y: scroll;
}
